services:
  redis:
    image: redis:latest
    container_name: redis-client
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"


volumes:
  redis-data: